<div id="menu" class="menu-div">
  <nav class="mobile-nav">
    <ul class="mobile-nav-ul">
      <li><a class="mobile-nav-a" href="/index.html">Home</a></li>
      <li>
        <a class="mobile-nav-a" href="/html/education.html">Education</a>
      </li>
      <li>
        <a class="mobile-nav-a" href="/html/awards-and-honors.html">Awards</a>
      </li>
      <li><a class="mobile-nav-a" href="/html/friends.html">Friends</a></li>
      <li>
        <a class="mobile-nav-a active" href="/html/interests.html">Interests</a>
      </li>
      <li><a class="mobile-nav-a mobile-theme-btn">Theme</a></li>
      <li class="mobile-toggle">
        <i class="fas fa-moon mobile-toggle-icon"></i>
        <i class="fas fa-sun mobile-toggle-icon"></i>
        <div class="mobile-toggle-ball"></div>
      </li>
    </ul>
  </nav>
</div>
