<div
  [class.dark]="uiService.isDarkMode$ | async"
  id="menu"
  class="menu-div"
  [@sidebarState]="showMenu ? 'visible' : 'hidden'"
>
  <nav class="mobile-nav">
    <ul class="mobile-nav-ul">
      <ng-container *ngFor="let route of routes; let i = index">
        <li (click)="clickedLi($event)">
          <a
            [class.dark]="uiService.isDarkMode$ | async"
            (click)="clickedA()"
            class="mobile-nav-a"
            [class.active]="isActive(route.routerLink)"
            [routerLink]="[route.routerLink]"
            >{{ route.title }}</a
          >
        </li>
      </ng-container>

      <li>
        <a
          [class.active]="uiService.isDarkMode$ | async"
          class="mobile-nav-a mobile-theme-btn"
          >Theme</a
        >
      </li>
      <li class="mobile-toggle" (click)="onChangeTheme()">
        <i class="fas fa-moon mobile-toggle-icon"></i>
        <i class="fas fa-sun mobile-toggle-icon"></i>
        <div
          class="mobile-toggle-ball"
          [class.active]="uiService.isDarkMode$ | async"
        ></div>
      </li>
    </ul>
  </nav>
</div>
