<div
  id="menu"
  class="menu-div"
  [ngClass]="{ animate: showMenu, 'animate-exit': isClosing }"
>
  <nav class="mobile-nav">
    <ul class="mobile-nav-ul">
      <ng-container *ngFor="let route of routes; let i = index">
        <li (click)="clickedLi($event)">
          <a
            (click)="clickedA()"
            class="mobile-nav-a"
            [class.active]="isActive(route.routerLink)"
            [routerLink]="[route.routerLink]"
            >{{ route.title }}</a
          >
        </li>
      </ng-container>

      <li><a class="mobile-nav-a mobile-theme-btn">Theme</a></li>
      <li class="mobile-toggle">
        <i class="fas fa-moon mobile-toggle-icon"></i>
        <i class="fas fa-sun mobile-toggle-icon"></i>
        <div class="mobile-toggle-ball"></div>
      </li>
    </ul>
  </nav>
</div>
