
<!-- MAIN START -->
<app-banner [bannerData]="bannerData"></app-banner>
<section [class.dark]="uiService.isDarkMode$ | async" class="banner add-on">
  <div class="educ-sec-2 container">
    <div class="timeline">
      <h2>My Education Timeline</h2>
      <p>
        Einstein determined that time is relative. I don't know why. But time
        really flies so fast.
      </p>
    </div>
    <!-- <div class="timeline-content"> -->
    <ul>
      <ng-container *ngFor="let data of information">
        <li>
          <div class="content" [class.dark]="uiService.isDarkMode$ | async">
            <div>
              <img src="../../../assets/images/{{ data.img }}" alt="" />
            </div>
            <div>
              <h2>{{ data.title }}</h2>
              <p [class.dark]="uiService.isDarkMode$ | async">
                {{ data.caption }}
              </p>
            </div>
          </div>
        </li>
      </ng-container>
    </ul>
    <!-- </div> -->
  </div>
</section>
<app-blue-section [sectionData]="blueSectionData"></app-blue-section>
<app-testimonies [testimoniesData]="testimoniesData"></app-testimonies>
<!-- MAIN END -->

